<script src="js/holder.js"></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tools Reference</h5>
            <p class="card-text">Tools Ready Reckoner</p>
            <a
              href="{% link {{ site.data.samplelist.tools_reference }}/2020-10-01-ToolsReferenceReadme.html%}"
              class="btn btn-primary"
              >Check Out..</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SAP Hana Reference</h5>
            <p class="card-text">Ready Reckoner for SAP Hana</p>
            <a
              href="{% link {{ site.data.samplelist.hana_reference }}/2020-10-06-SAPHanaReference.html%}"
              class="btn btn-primary"
              >Check Out..</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Chat Bots and CAI</h5>
            <p class="card-text">Ready Reckoner for CAI</p>
            <a
              href="{% link {{ site.data.samplelist.cai_reference }}/2020-10-14-CAIReferenceReadme.html%}"
              class="btn btn-primary"
              >Check Out..</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SAP ABAP Reference</h5>
            <p class="card-text">Ready Reckoner for ABAP</p>
            <a
              href="{% link {{ site.data.samplelist.abap_reference }}/2020-10-14-SAPABAPReference.html%}"
              class="btn btn-primary"
              >Check Out..</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SAP Gateway Reference</h5>
            <p class="card-text">Ready Reckoner for SAP Gateway</p>
            <a
              href="{% link {{ site.data.samplelist.gateway_reference }}/2020-10-14-SAPGatewayReference.html%}"
              class="btn btn-primary"
              >Check Out..</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SAP Fiori Reference</h5>
            <p class="card-text">Ready Reckoner for SAP Fiori</p>
            <a
              href="{% link {{ site.data.samplelist.fiori_reference }}/2020-10-20-SAPFioriReference.html%}"
              class="btn btn-primary"
              >Check Out..</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
